name: Build Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install deps
        run: bun install

      - name: Compile CLI
        env:
          ENVSIMPLE_API_URL: ${{ secrets.ENVSIMPLE_API_URL }}
        run: bun build src/index.ts --compile --minify --outfile envsimple

      - name: Smoke test
        run: ./envsimple --help
