name: Build & Release CLI

on:
  push:
    tags:
      - "v*"
permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Detect platform
        id: platform
        run: |
          if [ "$RUNNER_OS" = "Linux" ]; then echo "name=linux-x64" >> $GITHUB_OUTPUT; fi
          if [ "$RUNNER_OS" = "macOS" ]; then echo "name=darwin-arm64" >> $GITHUB_OUTPUT; fi
          if [ "$RUNNER_OS" = "Windows" ]; then echo "name=windows-x64" >> $GITHUB_OUTPUT; fi
        shell: bash

      - name: Build binary
        env:
          ENVSIMPLE_API_URL: ${{ secrets.ENVSIMPLE_API_URL }}
        run: bun build src/index.ts --compile --minify --outfile envsimple

      - name: Package artifact
        shell: bash
        run: |
          mkdir dist

          if [ "$RUNNER_OS" = "Windows" ]; then
            if [ -f envsimple.exe ]; then
              mv envsimple.exe dist/envsimple-${{ steps.platform.outputs.name }}.exe
            else
              mv envsimple dist/envsimple-${{ steps.platform.outputs.name }}.exe
            fi
          else
            mv envsimple dist/envsimple-${{ steps.platform.outputs.name }}
          fi


      - name: Upload artifact
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
